body {
	font-size: 15px;
	line-height: 1.6;
	color: #333;
	background: white;
	padding-top: 50px;
}

h1 {
	color: #3484D2;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="error:"] {
	background: red;
	color: white;
}

form tr, form td {
	vertical-align: top;
	font-weight: normal;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

.i {
	font-style: italic;
}

.h3 {
	font-size: 18px;
	line-height: 27px;
}

.h2 {
	font-size: 25px;
	line-height: 27px;
}

.pseudoWell {
	padding: 19px;
	margin-bottom: 20px;
}
/*
.transparent.navbar, .transparent.navbar .navbar-inner {
	background-color: transparent !important;
	background-image: none !important;
	border: none !important;
}
*/
.navbar-inner ul li, .navbar-inner a.brand {
	background-color: #fafafa !important;
}

.fr {
	float: right !important;
}
.nav form {
	margin: 0 !important;
}
.nav form select {
	margin-top: 5px !important;
}

.levaOdrazka {
	padding-left: 35px !important;
}

.pravaOdrazka {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.chzn-container {
	margin-top: 8px;
}

.gray {
	color: #ccc;
}